@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}