:root {
    //Fonts
    --font-gothampro: 'GothamPro', sans-serif;

    // Color
    --color-orange: #FF8401;
    --color-black: #2E2B2B;
    --color-dark-gray: #4F4F4F;
    --color-gray: #E0E0E0;
    --color-gray-light: #F2F2F2;    
    --color-light: #F9FAFA;    
    --color-white: #FFFFFF;

    // Font weight
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    //Font size

    --size-biggest: 4.312rem; // 69px
    --size-big: 3.438rem; // 55px
    --size-subtitle: 2.750rem; //44px
    --size-subtitle-medium: 2.188rem; //35px
    --size-subtitle-small: 1.750rem; //28px
    --size-normal-big: 1.438rem; //23px
    --size-normal-20: 1.25rem; // 20px
    --size-normal: 1.125rem; // 18px
    --size-normal-small: 0.875rem; // 14px
    --size-small: 0.750rem; // 12px


    @media screen and(max-width:1024px) {
        --size-big: 2.750rem; //44px
    }

    @media screen and(max-width:767px) {
        --size-normal-big: 1.25rem; // 20px
        --size-big: 2.188rem; //35px
        --size-subtitle: 2.5rem; //40px
        --size-subtitle-medium: 1.875rem; //30px
        --size-subtitle-small: 1.438rem; //23px
        --size-normal-20: 1.125rem; // 18px
    }
    @media screen and(max-width:425px) {
        --size-subtitle: 2.188rem; //35px
        --size-subtitle-medium: 1.750rem; //28px
    }
}